name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Build the Docker image
      run: |
        export IMAGE=ghcr.io/matthieucoder/timothee:$(date +%s)
        docker build . --file Dockerfile --tag $IMAGE
        docker push $IMAGE
